@import url(./vendor/fonts.css);

body {
  color: #F2F2F3;
  min-width: 320px;
  font-family: "Gilroy", "Factor A TRIAL", sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  background: #585CC6;
  background-image: url(./images/Vector1.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right top;
}
